.tag:not(.token) {
  background-color: var(--text-accent);
  border: none;
  color: white;
  font-size: 11px;
  padding: 1px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 14px;
}
.tag:not(.token):hover {
  color: white;
  background-color: var(--text-accent-hover);
}



.tag[href^="#abroad"] {
  background-color: #cd8387;
}
.tag[href^="#career"] {
  background-color: #cd8387;
}
.tag[href^="#project"] {
  background-color: #cd8387;
}
.tag[href^="#life"] {
  background-color: #cd8387;
}


.tag[href^="#gamedesign"] {
  background-color: #916a79;
}
.tag[href^="#English"] {
  background-color: #916a79;
}
.tag[href^="#日本語"] {
  background-color: #916a79;
}
.tag[href^="#Obsidian"] {
  background-color: #916a79;
}
.tag[href^="#essay"] {
  background-color: #916a79;
}



.tag[href^="#book"] {
  background-color: #55506c;
}
.tag[href^="#music"] {
  background-color: #55506c;
}
.tag[href^="#code"] {
  background-color: #55506c;
}
.tag[href^="#mame"] {
  background-color: #55506c;
}
.tag[href^="#device"] {
  background-color: #55506c;
}


.tag[href^="#Omnivore"] {
  background-color: #19375e;
}
.tag[href^="#Excalidraw"] {
  background-color: #19375e;
}
.tag[href^="#card"] {
  background-color: #19375e;
}