/* 修改外部链接的样式 */
.external-link {
  text-decoration: none;/*下划线*/
}

/* 修改内部链接的样式 */
.internal-link {
  text-decoration: none !important;/*下划线` */
}

.markdown-preview-view .external-link {
  background: none;
  padding-right: 0;
}