.status-bar {
  /* background-color: var(--background-primary); */
  border-width: 0;
  opacity: .5;
  transition: all .2s linear;
}

.status-bar:hover {
  opacity: 1;
  border-width: var(--status-bar-border-width);
}

/*如果浅浅的背景色也不需要，可以把上面的 background-color: var(--background-primary); 展开*/